<% include partials/head.ejs %>
<% include partials/header.ejs %>
<script type="text/javascript" src = "js/jscolor.js"></script>


<script>
    if(document.getElementById("nav_details").classList.contains("active")){
        document.getElementById("nav_details").classList.remove("active");
    }
    document.getElementById("nav_home").classList.add("active");
</script>




<!--Color form-->

<form class = "ui form" action = "/set-color" method = "POST" id="color-form">
<div class="box">
    
      <input type = "checkbox" name = "options[setAsDefault]" id = "set-as-default" hidden />
      <input type = "checkbox" name = "options[changeToDefault]"  id = "change-to-default" hidden/>
      <input type = "checkbox" name = "options[turnOff]"  id = "turn-off" hidden/>
      
      <input type="text" class="jscolor two wide field" id = "light-color" name="color" value='<%= settings.lightColor %>' />
      <div class="ui submit button" id = "change-color" onclick="submit();">Change Color</div> 
      <div class="ui submit button" id = "set-default-button" onclick="submit(true);">Set As Default</div> 
      <div class="ui submit button" onclick="submit(false,true);">Change To Default</div> 
      <div class="ui submit button" id = "off-button" onclick="submit(false,false,true);">Turn Off</div> 
</div>
</form>

<!--Dashboard-->
<div class = "ui raised padded segment">
    <h2 class = "ui header centered"> Analytics Dashboard</h2>
    
    <div class = "ui three small grey statistics">
        <div class = "statistic">
            <div class = "value">
                <%= stats.avgTemperature %> &degC
            </div>
            <div class = "label">
                Avg Temperature
            </div>
        </div>

    
        <div class = "statistic">
            <div class = "value">
                <%= stats.avgHumidity %> %
            </div>
            <div class = "label">
                Avg Humidity
            </div>
        </div>
 
    

        <div class = "statistic">
            <div class = "value">
                <%= stats.avgBrightness %>
            </div>
            <div class = "label">
                Avg Brightness
            </div>
        </div>
    </div>
    
    <!--End stats-->
    <div class = "ui grid">
        <div class= "three column row">
            
            <div class = "column">
                <canvas id="temperature-chart" ></canvas>
                <h4 class="ui centered header">Temperature Zones</h4>
            </div>
            
            <div class = "column">
                <canvas id="humidity-chart" ></canvas>
                <h4 class="ui centered header">Humidity Zones</h4>
            </div>
            
            <div class = "column">
                <canvas id="on-chart" ></canvas>
                <h4 class="ui centered header">Time on</h4>
            </div>
        </div>
    </div>
    <script>



function analyze(temperatureData,humidityData,onData){
    console.log(onData);
    var temperatureRenderData = {
        datasets: [{
            data: temperatureData,
            backgroundColor: ['#13763f','#54a86b', '#b3d264']
        }],
        
        labels: ['Hot','Comfortable','Cold']
    };
    
    var humidityRenderData = {
        datasets: [{
            data: humidityData,
            backgroundColor: ['#13763f','#54a86b', '#b3d264']
        }],
        
        labels: ['Humid','Comfortable','Dry']
    };
    
    var onRenderData = {
        datasets: [{
            data: onData,
            backgroundColor: ['#13763f','#54a86b']
        }],
        
        labels: ['On','Off']
    };
    
    
    // console.log(onRenderData);
    renderChart(document.getElementById('temperature-chart'), temperatureRenderData);
    renderChart(document.getElementById('humidity-chart'), humidityRenderData);
    renderChart(document.getElementById('on-chart'), onRenderData);
}


function renderChart(ctx, data){

    var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: {
        legend:{
            display: false,
        }
    }
});
}
</script>


</div>


<!--Config form-->
<h3 class="ui centered header">Configuration</h3>
<form class = "ui form" action = "/configure" method = "POST">
    <div class = 'fields'>
        
        <div class = "four wide field">
            <label>Hot (&degC)</label>
            <input type = "number" name = "setting[hotThreshold]" value = '<%= settings.hotThreshold %>'>
        </div>
        
        <div class = "four wide field">
            <label>Cold (&degC)</label>
            <input type = "number" name = "setting[coldThreshold]" value = '<%= settings.coldThreshold %>'>
        </div>
        
        <div class = "four wide field">
            <label>Humid (%)</label>
            <input type = "number" name = "setting[humidThreshold]" value = '<%= settings.humidThreshold %>'>
        </div>
        
        <div class = "four wide field">
            <label>Dry (%)</label>
            <input type = "number" name = "setting[dryThreshold]" value = '<%= settings.dryThreshold %>'>
        </div>
        
        <div class = "four wide field">
            <label>Dark</label>
            <input type = "number" name = "setting[darkThreshold]" value = '<%= settings.darkThreshold %>'>
        </div>
        
        <div class = "two wide field">
            <br>
            <input type = "submit" class = "ui submit button" name = "configure" value = "Submit">
        </div>
        
    </div>
</form>

<a id = 'stats-generator' onclick = 'analyze([<%= stats.temperatureData %>], [<%= stats.humidityData %>], [<%= stats.timeData %>]);' hidden>test</a>
<script>
    document.getElementById('stats-generator').click();
</script>


<script type="text/javascript" src="js/home.js"></script>
<% include partials/foot.ejs %>